*{
  font-family: 'Poppins', sans-serif;
}

#records-header {
  margin-left: -80px;
  margin-bottom: -10px;
}

.patientrecord-container {
  background-color: white;
  width: 93vw;
  height: 89vh;
  border-radius: 20px;
  margin-left: 20px;
}

.create-patientrecord {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 21vw;
  height: 36vh;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

.input-patientrecord {
  width: 20vw;
}

.note-btn.submit {
  margin-top: -10px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.patientform {
  flex: 1;
}

.patientrecord-table-content {
  height: 100%;
  width: 155%;
}

.patientview {
  margin-top: 20px;
  flex: 2;
}

.record-table-container {
  margin-top: 35px;
  width: 60%;
  max-height: 800px;
  overflow: scroll;
  overflow-x: hidden;
  }

.view-details {
  margin-top: 5px;
}

.input-patientrecord {
  width: 20vw;
  height: 2.5rem;
  border-radius: 10px;
}

.savebtn-modal {
  margin-top: 10px;
  margin-bottom: 20px;
}

.savebtn-record {
  margin-top: 10px;
  margin-bottom: 20px;
}

.editButton {
  margin-top: 5px;
}

.custom-gender{
  height: 2.8rem;
  font-size: 16px;
  border: 1px solid black;
}

.table-adm {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}

.table-adm th,
.table-adm td {
  padding: 10px;
}
  
.table-adm tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.table-adm tr:hover {
  background-color: #ddd;
}
  
tbody {
  display: table-row-group;
  margin: 5px;
}
  
thead {
  display: table-row-group;
}

.modal-table {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}

.modal-table th,
.modal-table td {
  padding: 10px;
}
  
.modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.modal-table tr:hover {
  background-color: #ddd;
}
  
/*medicalform*/
.medicalrecord-container {
  background-color: white;
  width: 89vw;
  border-radius: 20px;
}

.create-medicalrecord {
  margin-left: 100px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 21vw;
  height: 36vh;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

.input-medicalrecord {
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
}

.medical-table-container {
  width: 100%;
}

#medform-btn {
  height: 100px;
}

.record-change {
  border-radius: 10px;
}

.modal-change {
  border-radius: 10px;
}

.editbtn-modal {
  margin-top: 10px;
}

/* MedicalRecordForm.css */
.medicalinput-row {
  margin-left: -8px;
  display: flex;
  gap: 0.2rem;
  width: 21vw;
}

.input-row {
  display: flex;
  justify-content: space-between;
}
  
.input-medicalrecord {
    width: 21vw; 
    height: 10vh;
}

.custom-medical {
  height: 30px;
  width: 20vw;
}

.input-medicalrecord.custom-medical-temp {
  width: 185px;
  height: 30px;
}

/* Medical Record Modal */
.medicalrecord-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%; 
  border-radius: 20px;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
  
#searchbar-record{
  margin-top: 22px;
  margin-right: 88px;
  width: 88%;
  background-color: #f3f3f3; 
  border-radius: 10px;
}

.sort-dropdown-order-modal-adm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: -45px;
  margin-right: 105px;
}

#patientrecord-header{
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: -5px;
  margin-top: -10px;
}
#medicalrecord-header{
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: -5px;
  margin-top: -10px;
}

/* .input-medicalrecord{
  border: 1px solid red;
  
} */
@media screen and (max-width: 1366px){
  .patientrecord-container {
    margin-right: -140px;
    width: 86vw; /*changed*/
    height: 565px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .forms-container.column {
    flex-direction: column; /* Change flex direction to column for smaller screens */
  }

  .patientform {
    width: 100%; /* Ensure both forms take full width */
  }

  .patientview {
    width: 100%; /* Ensure both forms take full width */
  }

  .forms-container.column .patientform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .create-patientrecord{
    width: 300px;
    height: 370px;
    margin-left: 220px;
    gap:1rem;
  }

  .create-medicalrecord{
    width: 300px;
    height: 370px;
    margin-top: 30px;
    margin-left: -200px;
    gap:1rem;
  }

  .input-patientrecord.custom-gender {
    height: 30px;
  }
  
  .input-patientrecord{
    width: 100% ;
    font-size: 12px;
    height: 30px;
  }

  .input-patientrecord.custom-gender{
    width: 100%;
    height: 35px;
  }

  .input-medicalrecord{
    width: 300px ;
    font-size: 12px;
    height: 30px;
  }

  #records-header{
    font-size: 20px;
    color: lightslategray;
    margin: 0;
    font-weight: 400;
    margin-right: 1px;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .note-btn.submit {
    width: 70px;
    height: 30px;
    font-size: 12px;
  }


  .custom-gender{
    width: 150px;
  }

  #medform-btn{
    height: 30px;
    font-size: 12px;
    width: 70px;
    margin-top: 0.5px;
  }

  #searchbar-record{
    margin:0;
    width: 250px;
    height: 30px;
    font-size: 12px;
  }

  .record-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: fixed;
    margin-right: 60px;
    width: 80%;  /* `````````````NEWCODE */
    /* margin: 40px 200px 0 -5; */
  }
 
  .editButton{
    font-size: 12px;
    height: 30px;
  }
  
  .medicalinput-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin-left: 0;
  }

  .input-medicalrecord.custom-medical{
    width: 140px;
    height: 30px;
  }

  .input-medicalrecord.custom-medical-temp{
    width: 140px;
    height: 30px;
  }

  .patientrecord-table-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-records{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 400px;
    padding-right: 258px;
  }

  #searchbar-record {
    /* margin-right: -190px; */
    margin-right: -184px;
  }

  .sort-dropdown-order-modal-adm{
    /* display: flex; */
    margin-right: 80px;
    font-size: 13px;
  }

   /* `````````````NEWCODE */
  .search-sort-table{
    display: flex;
    flex-direction: column;
    margin-left: -80px;
  }

  #patientrecord-header{
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  #medicalrecord-header{
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .medicalrecord-modal-container {
    width: 50%; 
  }

  .modal-change, .record-change, 
  .savebtn-modal, .savebtn-record, 
  .editbtn-modal, .editButton, 
  .cancelbtn-modal, .cancelbtn-record {
    font-size: 12px;
  }
.rec-input-error{
  font-size: 12px;
  height: 30px;
  width: 300px;
  color: red;
}
.histo-error-input{
  border: 1px solid red;
}
.validations-error{
  margin: 0;
  padding: 0;
}

.rec-errors-p{
  font-size: 10px;
  margin: 0;
  bottom: 0;
  color: red;
}

.input-patientrecord, .histo-error-input {
  width:300px;
  font-size: 12px;
  height: 30px;
}

#add-record-btn{
  width: 70px;
  font-size: 12px;
  height: 30px;
  margin-top:5px;
}

.med-errors-p{
  color:red;
  font-size: 10px;
  margin:0;
}
.actionButtons-record{
  display:flex;
  gap:2.5px;
}
#patientrecordheader,   #medicalrecordheader{
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}

}