*{
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
}

.registerpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#register-form {
  background-color: whitesmoke;
  height: 100%;
  width: 50vw;
  margin: 0 auto;
  padding: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  align-items: center;
  overflow-y:scroll;
  scroll-margin: 6px;
  scroll-behavior: smooth;
}

#register-logo {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container {
  display: flex;
  width: 90%;
  /* gap: 1rem; */
}

.address-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin-right: 3px;
  gap: 1rem;
}

.useremail-container {
  width: 90%;
  display: flex;
  gap: 1rem;
  margin-right: 5px;
}

input {
  width: 100%;
  /* margin-left: 5px; */
  height: 2.5rem;
  font-size: medium;
  border-radius: 10px;
  border: 1px solid;
}

#register-reg {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#sex {
  margin-left: 5px;
  margin-right: -5px;
  width: 102%;
  height: 45px;
  border-radius: 10px;
}

#form-reg{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    margin: 0;
}

.form1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
  width: 90%;
}

.form1 .react-datepicker-wrapper {
  width: 101%;
}

.react-datepicker-popper {
  margin-top: -5px;
}

.react-datepicker__navigation.react-datepicker__navigation--previous {
  margin-top: 5px;
}

.react-datepicker__navigation.react-datepicker__navigation--next {
  margin-top: 5px;
}

.form1 label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form1 select {
  width: 100%;
  height: 2.5rem;
  font-size: medium;
  border-radius: 10px;
  border: 1px solid;
}

.terms {
  margin-top: -40px;
  margin-left: 35rem;
  display: flex;
}


#date {
  margin-right: -12px;
  height: 40px;
  width: 99%;
  border-radius: 10px;
}

#sex {
  width: 102%;
  margin-left: 5px;
}

#pass {
  width: 424px;
  margin-left: 8px;
  border-radius: 10px;
}

#confirmpass {
  width: 424px;
  margin-left: 5px;
  border-radius: 10px;
}

.asterisk {
  color: blue; 
  font-size: 14px;
  margin-left: 5px;
}

.asterisk-birthday {
  color: blue; 
  font-size: 14px; 
  margin-left: 70px;
  margin-top: -22px;
}

.asterisk-sex {
  color: blue; 
  font-size: 14px; 
  margin-left: 35px;
  margin-top: -22px;
}

.asterisk-contact {
  color: blue; 
  font-size: 14px; 
  margin-left: 100px; 
  margin-top: -22px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 90%;
}

.password-container {
  width: 91.5%;
  display: flex;
  gap: 0.6rem;
  margin-right: -5px;
}

.password-input {
  width: 420px;
  flex: 1;
  font-size: medium;
  margin-right: 5px;
}

.password-input-container {
  position: relative;
  width: 400px;
  flex: 1;
  font-size: medium;
  margin-right: 10px;
}

.toggle-eye {
  position: absolute;
  right: 490px;
  top: 721px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
}

.toggle-eye svg {
  width: 20px;
  height: 20px;
  fill: #333;
}

.toggle-eye-confirm {
  position: absolute;
  right: 3px;
  top: 71%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
}

.toggle-eye svg,
.toggle-eye-confirm svg {
  width: 20px;
  height: 20px;
  fill: #333;
}

#firstName {
  border-radius: 10px;
}

#middleName {
  border-radius: 10px;
}

#lastName {
  border-radius: 10px;
}

#num {
  border-radius: 10px;
}

#house {
  border-radius: 10px;
}

#street {
  border-radius: 10px;
}

#barangay {
  border-radius: 10px;
}

#municipality-city {
  border-radius: 10px;
}

#province {
  border-radius: 10px;
}

#email {
  border-radius: 10px;
}

#username {
  border-radius: 10px;
}
/* new CODE 3/16/24 - 3:05AM*/
.input-error{
  border: red 1px solid;
}
.errors-p{
  font-size: 10px;
  color: red;
  display: flex;
  /* margin: 0 auto; */
}

@media screen and (width: 1366px){
  *{
    font-size: 13px;
  }
  #FirstName, #MiddleName, #LastName, #birthday, #contactNum,
  #houseNum, #street, #brgy, #city, #prov,
  #email, #UserName, #password, #confirmpassword{
    font-size: 15px;
    height: 40px;
    /* padding: 20px; */
    width: 600px;
    display: flex;
    /* border-radius: 0; */
  }
  #sex{
    width: 600px;
    height: 40px;
    font-size: 15px;
    margin-right: 2px;
    display: flex;
    /* justify-content: center; */
  }

  /* newwwww coddeeeeeeeee */
  #register-form {
    height: 95%;
    width: 50vw;
    gap: 1rem;
    padding: 20px;
    align-items: center;
  }
  #register-btn{
    font-size: 12px;
    width: 100px;
    margin-top: 0.5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-div-reg{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    gap: 0;
  }
  .errors-p{
    margin: 0.3rem;
  }
  #form-reg{
    gap: 0.1rem;
  }
  .password-input {
    position: relative;
    width: fit-content;
  }
  .eye-icon {
    position: absolute;
    top: 60%;
    right: 10px; /* Adjust the position of the icon */
    transform: translateY(-50%);
    cursor: pointer;
  }
  .terms{
    display: flex;
    margin:0;
  }
}